.row {
    display: flex;
}

.gameBoard {
    padding: 50px;
    background-color: aquamarine;
    flex: 75%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-item {
    height: 100px;
    width: 100px;
}

.gameInfo {
    text-align: center;
    padding: 50px;
    background-color: blue;
    flex: 25%;
}

#gameTime {
    background-color: white;
    
}

