#flex-container {
    display:flex;
}

#flex-left {
    font-family: monospace;
    color: white;
    background-color: #69dadb;
    flex: 75%;
}

h1 {
    padding-left: 50px;
    font-size: 100px;
}

h3 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 35px;
}

.stats span {
    background-color: #193498;
}

.stats {
    padding-left: 50px;
    font-size: 35px;
}

#flex-right {
    background-color: #193498;
    flex: 25%;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-family: monospace;
    color: white;
    background-color: #698ddb;
    border-style: hidden;
    
}